



<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Gossip Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>

  <body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="<%="/"%>">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%="/home"%>">Home </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="<%="/potin/new"%>">New gossip </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="<%="/contact"%>">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%="/team"%>">Team</a>
        </li>
      </ul>
      <div class="d-flex flex-row-reverse">
        <ul class="navbar-nav mr-auto">
         <% if is_logged_in? != true%>
          <li class="nav-item active">
            <a class="nav-link" href="<%="/sessions/new"%>">Sign in</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%="/user/new"%>">Sign up</a>
          </li>
          <% else %>
            <% puts session[:User_id] %>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Logout", session_path(session.id), method: :delete %></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<%="/dashboard"%>">Dashboard</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<div class="container" style="...">
  <% if session[:error]%>
   <% @user.errors.full_messages.each do |message| %>
    <% end %>
    <div class="alert alert-danger"><%= session[:error]%>
      <li><%= message %></li>
     </div>
    <% session.delete(:error)%>
    <% end%>
</div>

<div class="container">
<div class="p-4"></div>
<h1>New gossip</h1>
<div class="p-2"></div>


    <%= form_tag url_for(action: 'create'), method: "post" do %>
    <% puts  current_user[:id] %>
<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
<input type="hidden" name="gossip[user_id]" value=<%= current_user[:id] %> >

      <%= label_tag 'Title' %>
      <%= text_field_tag 'gossip[title]'%>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'gossip[content]'%>
      <br /> <br />

      <%= submit_tag "Create Gossip" %>

    <% end %>
  <div class="fixed-bottom">
    <footer class="container-fluid text-center">
      <p>The Gossip Project - Made By SoMeOnE</p>
    </footer>
  </div>
</div>
</body>
</html>
