<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Gossip Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="<%="/"%>">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%="/home"%>">Home </a>
        </li>
        <% if is_logged_in? == true%>
          <li class="nav-item active">
              <a class="nav-link" href="<%="/potin/new"%>">New gossip </a>
            </li>
          <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%="/contact"%>">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%="/team"%>">Team</a>
        </li>
      </ul>
      <div class="d-flex flex-row-reverse">
        <ul class="navbar-nav mr-auto">
         <% if is_logged_in? != true%>
          <li class="nav-item active">
            <a class="nav-link" href="<%="/sessions/new"%>">Sign in</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%="/user/new"%>">Sign up</a>
          </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Logout", session_path(session.id), method: :delete %></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<%="/dashboard"%>">Dashboard</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% if session[:success]%>
    <div class="alert alert-success"><%= session[:success]%></div>
    <% session.delete(:success)%>
  <% end%>
  <div class="container text-center">    
    <div class="row">
      <div class="col-sm-2 well">
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
          <div class="container" style="...">
          </div>
          <div class="p-4"></div>
            <h1>The gossip mayhem</h1>
          <div class="p-4"></div>
          <% if is_logged_in? == true%>
            <div class="col-auto">
              <h4>Do you want to add a new gossip?</h4>
              <a class="btn btn-primary btn-sm" href="<%="/potin/new"%>" role="button">Create a gossip !</a>
            </div>
            <% end%>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div>
              <% @gossip.each_with_index do |gossip, idx| %>
              <% gossip_identification = gossip.id %>
              <div class="d-flex justify-content-center">
                  <% gsp_usr = gossip.user_id %>
                  <% usr = User.find(gsp_usr) %>
                  <div class="p-2"></div>
                    <div class="card" style="width: 28rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%= "#{usr.first_name} says :" %></h5>
                        <p class="card-text"><%= gossip.title %><br>
                        <% potin_id = gossip.id %>
                        <br>
                         <%= "#{count_comments(potin_id)} comments" %></p>
                        <% if is_logged_in? == true%>
                          <a class="btn btn-primary btn-sm" href="<%="/potin/#{gossip_identification - 1}"%>" role="button">Take a look !</a> 
                        <% else %> 
                          <a class="btn btn-primary btn-sm" href="<%="/sessions/new"%>">Sign in to see more</a>
                        <% end %>   
                      </div>           
                    </div>
                  </div>
                  <div class="p-4"></div>
              <% end %>
            </div>
          </div>
        </div>     
      </div>
      <div class="col-sm-2 well">
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>The Gossip Project - Made By SoMeOnE</p>
  </footer>

</body>
</html>