<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="<%="/"%>">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%="/home"%>">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%="/contact"%>">Contact </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%="/team"%>">Team</a>
      </li>
    </ul>
  </div>
</nav>

<div class="p-4"></div>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="p-4"></div>
<p>Lives in <%= @city.name %> <br>
age : <%= @user.age %><br>
email : <%= @user.email %></p>

<div class="p-3"></div>
<p>Description :</p>
<p><%= @user.description %></p>


